.container{
	margin: 40px auto;
	/*background-color: #069;*/
	color: white;
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-blend-mode: darken;
}

.biblioteca{
	background: url(../img/) no-repeat center center fixed;
}

blockquote{
	text-align: center;
	border: solid 0px;
}
small{
	color: white !important;
}
form .jumbotron{
	width: 60%;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.footer > p > a{
	color: white !important; 
}
.footer > p{
	margin-top: 100px;
	text-align: center;
}
.form-control, .btn{
	margin-top: 7px;
}

